---
// @ts-ignore
import { getCollection } from 'astro:content';

// get props from Astro props.

let {
	type = 'companies',
	title = 'Where I’ve worked.',
	description = 'I enjoy taking on new projects and have worked on the following:',
} = Astro.props;

import { df } from '../../utils/index.ts';
let companies: any = [];

if (type === 'companies') {
	companies = await getCollection('companies', (p: any) => p.data.featured);
} else {
	companies = await getCollection('companies', (p: any) => p.data.type === 'project');
}

// sort with step.
companies.sort((a: any, b: any) => {
	return a.data.step - b.data.step;
});

let _klass = `mt-12 py-10 px-5 container `;
_klass += type === 'companies' ? `dark:bg-gray-700` : `bg-gray-200 dark:bg-gray-900`;
---

<section class={_klass} id="projects">
	<h2 class="text-emphasis font-recoleta text-2xl dark:text-white">{title}</h2>

	<p class="dark:text-gray-300 prose mt-4">{description}</p>

	<div class="mt-8 space-y-12">
		{
			companies.map(async (company: any) => {
				const { Content } = await company.render();
				return (
					<section>
						<div class="flex group relative">
							<div class="px-px shrink-0">
								<img
									class="rounded w-12 h-12 mt-2.5"
									width="100"
									height="100"
									src={company.data.icon}
									alt={company.data.title}
								/>
							</div>
							<div class="ml-8">
								<div class="font-medium text-muted text-sm dark:text-gray-300 prose">
									{df.format(company.data.startDate)} -{' '}
									{company.data.endDate ? df.format(company.data.endDate) : 'Now'}
								</div>
								<div class="font-medium text-emphasis dark:text-gray-300 prose">
									<a class="accent dark:text-gray-300 prose arrow" href={`/${company.data.company}`}>
										<span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block dark:text-gray-400 prose" />
										<span>{company.data.title}</span>
									</a>{' '}
									·{' '}
									<a
										class="relative dark:text-gray-300 prose arrow"
										href={company.data.link}
										target="_blank"
									>
										{company.data.title}
									</a>
								</div>
								<div class="mt-2 dark:text-gray-300 prose">
									<Content />
								</div>
							</div>
						</div>
						{company.data.step != 4 && type != 'projects' ? <hr class="mt-8" /> : ''}
                        {company.data.step != 9 && type == 'projects' ? <hr class="mt-8" /> : ''}
					</section>
				);
			})
		}
	</div>
	{
		type === 'projects' ? (
			<a href="/others" class="mr-4 float-right prose dark:text-gray-300 arrow">
				More Projects
			</a>
		) : (
			''
		)
	}
</section>
