---
// @ts-ignore
import { getCollection } from 'astro:content';
const educations = await getCollection('educations');
// sort by step.
educations.sort((a: any, b: any) => {
	return b.data.step - a.data.step;
});
---

<main>
	<section class="py-10 px-5 bg-gray-200 dark:bg-gray-900 container" id="education">
		<h3 class="subtitle dark:text-white prose">Education.</h3>
		<p class="dark:text-gray-400 prose">
			I enjoy facing challenges that are given by my teachers. Here is my educational background.
		</p>
		<section class="body-font">
			<div class="container py-6 mx-auto flex flex-wrap">
				<div class="flex flex-wrap w-full">
					<div class="">
						{
							educations.map((education: any) => {
								return (
									<div class="flex relative pb-12">
										{
                                            education.data.step !== 1 ? (
                                            <div
											class="
                                                h-full
                                                w-10
                                                absolute
                                                inset-0
                                                flex
                                                items-center
                                                justify-center
                                                "
										>
											<div class="h-full w-1 bg-indigo-500 pointer-events-none" />
										</div>
                                            ) : null
                                        }
										<div
											class="
                                                flex-shrink-0
                                                w-10
                                                h-10
                                                rounded-full
                                                bg-indigo-500
                                                inline-flex
                                                items-center
                                                justify-center
                                                text-white
                                                relative
                                                z-10
                                                ">
											{education.data.step}
										</div>
										<div class="flex-grow pl-4 dark:text-gray-400">
											<h2 class="font-medium title-font mb-1">{education.data.title}</h2>
											<h5 class="font-mediume title-font mb-1 prose dark:text-gray-400">
												<i>{education.data.duration}</i>
											</h5>

											<div class="flex flex-col space-y-2">
												<div class="flex space-x-2">
													<div
														style="padding-top: 0.1em; padding-bottom: 0.1rem"
														class="
                                                            text-xs
                                                            px-3
                                                            bg-blue-200
                                                            text-blue-800
                                                            rounded-full
                                                        ">
														{education.data.grade}
													</div>
												</div>
											</div>
											<p class="leading-relaxed prose dark:text-gray-400">{education.data.institution}</p>
										</div>
									</div>
								);
							})
						}
					</div>
				</div>
			</div>
		</section>
	</section>
</main>
