---
// @ts-ignore
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import CollaboratorComp from '../components/CollaboratorComp.astro';
import Skills from './Skills.astro';
import Education from './Education.astro';
import Certificate from './Certificate.astro';

import { df } from '../utils/date.ts';
let companies = await getCollection('companies', (p:any) => p.data.featured);
// sort with step.
companies.sort((a:any, b:any) => {
	return a.data.step - b.data.step;
});

---

<Layout title="Muhammad Umer Farooq">
	<main class="dark:bg-gray-700">
		<section class="flex-none md:flex py-10 px-5 container">
			<div class="flex-none md:flex-1">
				<h1 class="title dark:text-gray-300 prose">Muhammad Umer Farooq</h1>
				<CollaboratorComp
					name="lablent"
					picture="../assets/images/umer-removebg.png"
					link="https://github.com/lablnet"
					contributionsStatus="true"
				/>

				<div class="flex md:hidden">
					<div class="sm:px-0 mx-auto">
						<img
							class="w-32 h-32 mx-auto rounded-full pointer-events-none"
							src="../assets/images/umer2023.jpg"
							alt="Muhammad Umer Farooq"
						/>
					</div>
				</div>
				<p class="prose text-justify dark:text-gray-300">
					Hello, I am a Professional Software Developer with a passion for working on open-source products.
				</p>

				<p class="prose text-justify dark:text-gray-300">
					I have extensive experience in Full Stack development, including web, mobile, and desktop
					applications. I have also worked with web scraping, web crawling, and web API integrations. I have
					worked on a wide range of projects and have interest in deep learning, computer vision,
					deterministic algorithms, kernel development, compilers, and cryptography.
				</p>
				<p class="prose text-justify mb-6 dark:text-gray-300">
					I am highly motivated to work on open-source projects and contribute to the community. I am always
					looking for opportunities to collaborate and learn from others.
				</p>

				<br />
			</div>

			<div class="hidden md:flex">
				<div class="sm:px-0 md:px-20">
					<div class="rounded-full mt-12 overflow-hidden">
						<img
							class="w-64
				h-64
				ml-4
				rounded-full
				object-cover
				pointer-events-none
				mt-12"
							src="../assets/images/umer2023.jpg"
							alt="Muhammad Umer Farooq"
							style="margin-top: 16px;"
						/>
					</div>
				</div>
			</div>
		</section>
	</main>

	<Skills />


	<section class="dark:bg-gray-700 mt-12 py-10 px-5 container" id="projects">
		<h2 class="text-emphasis font-recoleta text-2xl dark:text-white">Where I’ve worked.</h2>

		<p class="dark:text-gray-300 prose mt-4">I enjoy taking on new projects and have worked on the following:</p>

		<div class="mt-8 space-y-12">
			{
				companies.map(async (company:any) => {
					const { Content } = await company.render();
					return (
						<section>
							<div class="flex group relative">
								<div class="px-px shrink-0">
									<img
										class="rounded w-12 h-12 mt-2.5"
										width="100"
										height="100"
										src={company.data.icon}
										alt={company.data.title}
									/>
								</div>
								<div class="ml-8">
									<div class="font-medium text-muted text-sm dark:text-gray-300 prose">
										{df.format(company.data.startDate)} -{' '}
										{company.data.endDate ? df.format(company.data.endDate) : 'Now'}
									</div>
									<div class="font-medium text-emphasis dark:text-gray-300 prose">
										<a class="accent dark:text-gray-300 prose arrow" href={`/${company.data.company}`}>
											<span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block dark:text-gray-400 prose" />
											<span>{company.data.title}</span>
										</a>{' '}
										·{' '}
										<a class="relative dark:text-gray-300 prose arrow" href={company.data.link} target="_blank">
											{company.data.title}
										</a>
									</div>
									<div class="mt-2 dark:text-gray-300 prose">
										<Content />
									</div>
								</div>
							</div>
							{company.data.step != 4 ? <hr class="mt-8" /> : ''}
						</section>
					);
				})
			}
		</div>
		<a href="/others" class="mr-4 float-right prose dark:text-gray-300 arrow">More Projects</a>
	</section>


	<Education />
	<section class="py-10 px-5 container" id="showcase">
		<div class="grid grid-cols-1 gap-5 md:gap-8 xl:grid-cols-3 xl:gap-5">
			<div class="flex flex-col
		  items-center
		  justify-center
		  text-center
		  md:flex-row md:text-left"></div>
		</div>
	</section>
	<Certificate />
</Layout>
