---
import { getCollection } from 'astro:content';
import PostLayout from '../components/PostLayout.astro';
import Layout from '../layouts/Layout.astro';
import PostInfo from '../components/PostInfo.vue';
import InputComp from '../components/InputComp.vue';
import { compareByDate, df } from '../utils';

const projects = await getCollection('projects');
projects.sort(compareByDate);
---

<Layout title="Projects">
	<PostLayout title="Projects" subtitle="">
		<div class="mt-2 mb-6">
			<InputComp
				id="search-input"
				label="Search projects by title or ID..."
				placeholder="Search projects by title or ID..."
			/>
		</div>

		<div class="mt-2 mb-2 p-2" id="project-list">
			{
				projects.map((project) => {
					const endDate = project.data.endDate ? df.format(project.data.endDate) : 'Present';
					const subtitle = `${df.format(project.data.startDate)} - ${endDate}`;
					return (
						<div
							class="project-item"
							data-title={project.data.title.toLowerCase()}
							data-id={project.id.toLowerCase()}
						>
							<PostInfo
								stack={project.data.stacks}
								title={project.data.title}
								slug={project.slug}
								subtitle={subtitle}
								codeURL={project.data?.github ?? ''}
								siteURL={project.data.live}
								collaborators={project.data.collaborators}
								client:only="vue"
							/>
							<div class="mt-4 prose dark:text-gray-300">{/* <project.Content /> */}</div>
							<hr class="mt-12 mb-4" />
						</div>
					);
				})
			}
		</div>

		<script lang="js" is:inline>
			document.addEventListener('DOMContentLoaded', () => {
				const searchInput = document.getElementById('search-input');
                console.log (searchInput);
				const projectList = document.getElementById('project-list');
                console.log ("projectList", projectList)
				const projectItems = projectList.getElementsByClassName('project-item');

				searchInput.addEventListener('input', (event) => {
					const query = event.target.value.toLowerCase();
					for (const projectItem of projectItems) {
						const title = projectItem.getAttribute('data-title');
						const id = projectItem.getAttribute('data-id');
						if (title.includes(query) || id.includes(query)) {
							projectItem.style.display = 'block';
						} else {
							projectItem.style.display = 'none';
						}
					}
				});
			});
		</script>
	</PostLayout>
</Layout>
