---
// @ts-ignore
import { getCollection } from 'astro:content';
import { meta } from '../../utils/const';
import { df, compareByDate } from '../../utils/index.ts';

const certificates = await getCollection('certificates');
certificates.sort(compareByDate);
---

<main>
	<section class="py-10 px-5 bg-background dark:bg-background container" id="certificates">
		<h3 class="subtitle text dark:text-text prose">{ meta.certificate.title }.</h3>
		<p class="text dark:text-text prose">
			{ meta.certificate.description }
		</p>
        <div class="container mx-auto">
            <div class="flex flex-col divide-y divide-gray-300">
                {certificates.map((certificate:any, index: number) => (
                    <div>
                        <button
                            data-id={index}
                            class="accordion-button flex justify-between items-center w-full py-2 px-4 text-left prose text dark:text-text"
                        >
                            <span>{certificate.data.title} - {certificate.data.institute}</span>
                            <span class="w-6 h-6">🏆</span>
                        </button>
                        <div data-id={index} class="accordion-content overflow-hidden transition-all duration-300 hidden">
                            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-4">
                                <div>
                                    <a href={certificate.data.link} target="_blank" class="prose text dark:text-text">View Certificate</a>
                                    <p class="text-sm italic prose text dark:text-text">{df.format(certificate.data.completed)}</p>
                                </div>
                                <div class="image-container">
                                    <img src={certificate.data.picture} class="object-contain h-48 w-96 rounded sm:-mx-7 mt-5" />
                                </div>
                            </div>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </section>
</main>

<script lang="js">
let buttons = document.querySelectorAll('.accordion-button');
for (let i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', function () {
        let content = document.querySelectorAll('.accordion-content');
        let id = this.getAttribute('data-id');
        content[id].classList.toggle('hidden');
    });
}
</script>

