---
// @ts-ignore
import { getCollection } from 'astro:content';
import { meta } from '../../utils/const';

// get props from Astro props.

let {
	type = 'companies',
	title = meta.company.title,
	description = meta.company.description,
} = Astro.props;

import { df, compareByDate } from '../../utils/index.ts';
let companies: any = [];

if (type === 'companies') {
	companies = await getCollection('companies', (p: any) => p.data.featured);
} else {
	companies = await getCollection('companies', (p: any) => p.data.type === 'project');
}
companies.sort(compareByDate);
let step = companies.length + 1;

let _klass = `mt-2 mb-2 py-10 px-5 container `;
_klass += type === 'companies' ? `dark:bg-gray-700` : `bg-gray-200 dark:bg-gray-900`;
---

<section class={_klass} id={type}>
	<h2 class="text-emphasis font-recoleta text-2xl dark:text-white">{title}</h2>

	<p class="dark:text-gray-300 prose mt-4">{description}</p>

	<div class="mt-8 space-y-12">
		{
			companies.map(async (company: any) => {
				const { Content } = await company.render();
				step--;
				return (
					<section>
						<div class="flex group relative">
							<div class="px-px shrink-0">
								<img
									class="rounded w-12 h-12 mt-2.5"
									width="100"
									height="100"
									src={company.data.icon}
									alt={company.data.title}
								/>
							</div>
							<div class="ml-8">
								<div class="font-medium text-muted text-sm dark:text-gray-300 prose">
									{df.format(company.data.startDate)} -{' '}
									{company.data.endDate ? df.format(company.data.endDate) : 'Now'}
								</div>
								<div class="font-medium text-emphasis dark:text-gray-300 prose">
									<a class="accent dark:text-gray-300 prose arrow" href={`/${company.slug}`}>
										<span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block dark:text-gray-400 prose" />
										<span>{company.data.title}</span>
									</a>{' '}
									·{' '}
									<a
										class="relative dark:text-gray-300 prose arrow"
										href={company.data.link}
										target="_blank"
									>
										{company.data.name}
									</a>
								</div>
								<div class="mt-2 dark:text-gray-300 prose">
									<Content />
								</div>
							</div>
						</div>
						{step != 1 ? <hr class="mt-8" /> : ''}
					</section>
				);
			})
		}
	</div>
	{
		type === 'projects' ? (
			<a href="/projects" class="mr-4 float-right prose dark:text-gray-300 arrow">
				More Projects
			</a>
		) : (
		<a href="/fiverr" class="mr-4 float-right prose dark:text-gray-300 arrow">
				Fiverr Projects
			</a>
			<a href="/direct" class="mr-4 float-right prose dark:text-gray-300 arrow">
				Direct Client Projects
			</a>
		)
	}
</section>
